* {
    font-family: Helvetica, Sans-serif;
}

body {
    padding: 0;
}

h3 {
    background-color: gray;
    color: white;
}

input {
    margin: 3px;
}

small::before {
    content: '*';
}

span#actual-cost {
    font-size: 4rem;
}
